# Byte-compiled / optimized / DLL files
*.png
*.svg
*.pdf
*.pickle
*.csb
*.orig
__pycache__/
*.py[cod]
*$py.class
.idea/
*.bak
*.id*
*.nam
*.til
.*
*.zip
*.gz
*.tar
*.a
*.a.txt
*build*
runtime/llvm-7.0.1.obj/
runtime/llvm-7.0.1.src/
