-e git+git@git.seclab.cs.ucsb.edu:ahref/avatar2-pretender.git@7f700cd64f5170235a995719911482ccba096974#egg=avatar2&subdirectory=../../avatar2-pretender
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
bitstring==3.1.5
capstone==4.0.1
configparser==3.7.3
cycler==0.10.0
decorator==4.4.2
enum34==1.1.6
future==0.17.1
intervaltree==3.0.2
ipython==5.9.0
ipython-genutils==0.2.0
iso8601==0.1.12
keystone-engine==0.9.1.post3
kiwisolver==1.1.0
matplotlib==2.2.5
networkx==2.2
npyscreen==4.10.5
numpy==1.16.2
pandas==0.24.2
parse==1.11.1
pathlib2==2.3.5
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
posix-ipc==1.0.4
-e git+git@git.seclab.cs.ucsb.edu:ahref/pretender.git@3f4a044987f30bc8e8823544d9ffb7be8e4f1458#egg=pretender&subdirectory=../../pretender
prompt-toolkit==1.0.18
psutil==5.6.1
ptyprocess==0.6.0
pygdbmi==0.9.0.0
Pygments==2.5.2
pygraphviz==1.5
pylink-square==0.1.3
pyparsing==2.4.6
pyserial==3.4
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
scandir==1.10.0
scikit-learn==0.20.3
scipy==1.2.1
simplegeneric==0.8.1
six==1.12.0
sortedcontainers==2.1.0
statsmodels==0.9.0
subprocess32==3.5.4
traitlets==4.3.3
wcwidth==0.1.9
